@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my final</h1>
    <p>click on the link above to view a list of available entertainers!</p>
</div>
